<table>
  <thead>
    <td>Name</td>
    <td>Price</td>
    <td>Amount</td>
    <td>Totale</td>
    <td>Option</td>
  </thead>
  <tbody>
    <tr *ngFor="let good of cart; index as i">
       <td>{{good.name}}</td>
       <td>{{good.price | currency}}</td>
       <td>
           <input type="number" placeholder="Amount Kg()" [(ngModel)]="good.amount">
       </td>
       <td>
           {{(good.price * good.amount)| currency}}
       </td>
       <td>
           <button class="btn btn-primary" (click)= "save(i)">Save</button>
           <button class="btn btn-danger" (click)="delete(i)">Delet</button>
       </td>
</tr>
</tbody>

</table>
