<div class="body">
    <h2 class="text-center">Login</h2>
    <form #f="ngForm" (ngSubmit)="login(f)">
    <input ngModel name="email"  #email="ngModel" type="email" class="form-control" placeholder="your email" required email>
    <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required"> Email is Required</div>
    <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">your input dosen t match email format </div>
    
    <input ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="password" required minlength="6">
    <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required"> Password is Required</div>
    <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">Password chould 6+ charachter </div>
    <button class="btn btn-primary"[disabled]="f.invalid"> Login</button>
</form>
</div>


